# Python
__pycache__/
*.pyc

# Conda environments
.env/
venv/

# OS
.DS_Store

# Data files (CSV and ZIP)
*.csv
*.zip

# Ignore data directories but allow structure
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Models
models/
*.pkl
*.joblib

# Allow Python scripts in src/
!src/**/*.py