# Python
__pycache__/
*.pyc

# Conda environments
.env/
venv/

# Data and models
data/
models/
*.csv
*.zip

# OS
.DS_Store

# Ignore raw and processed data
data/raw/
data/processed/
*.csv
*.zip

# Allow Python scripts in src/data/
!src/data/
!src/data/*.py