# Python
__pycache__/
*.pyc

# Conda environments
.env/
venv/

# OS
.DS_Store

# Data files - ignore all CSVs and ZIPs
*.csv
*.zip

# Ignore contents of data directories but keep the structure
data/raw/*
data/processed/*

# Keep .gitkeep files to preserve directory structure
!data/raw/.gitkeep
!data/processed/.gitkeep

# Models
models/*
!models/.gitkeep
*.pkl
*.joblib

# Utils structure
utils/*
!utils/.gitkeep

# Allow all Python scripts
!**/*.py